:root {
    --green-color: #44ce6f;
    --green-color-bg: #daf2e1;
}

.bar {
    position: relative;
    height: 4px;
    width: 15%;
    background-color: var(--green-color-bg);
    border-radius: 20px;
    margin-top: 15px;
}

.bar::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--green-color);
    border-radius: 100%;
    animation-name: 'bar';
    animation: bar 2.8s infinite alternate linear;
}

@keyframes bar {
    100%{
        left: 100%;
    }
}