:root {
    --primary-color: #0e314c;
    --secondary-color: #4a6f8a;
    --green-color: #44ce6f;
    --grey-bg-color: #f7fafd;
    --grey-bg-color2: #fcfafa;
    --white-color: white;
}

/* ============================================= PRE-DEFINED ============================================= */

.sections {
    padding: 4rem 0;
}

.sections .sections_head {
    text-align: center;
    width: 50%;
    margin-left: calc(50% - 25%);
}

.sections .heading_content p {
    padding-top: 1rem;
}

.sections .sections_head p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    padding-top: 20px;
}

.sections .sections_head h2 {
    color: var(--primary-color);
    position: relative;
    padding-bottom: 15px;
}

.sections p {
    margin: 0;
}

.sections .sections_head .bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6%;
    margin-top: 0;
}

/* ============================================= HERO ============================================= */

.hero_section {
    padding-bottom: 2rem;
    padding-top: 0;
}

.hero_content {
    padding-top: 16rem;
    z-index: 10;
}

.hero_content h1 {
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.hero_content p {
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.hero_content .btn1 {
    transform: translate(0);
    margin-top: 1rem;
}

.hero_img {
    margin-top: 5rem;
    width: 90%;
}

.hero_section .main_bg .bacol {
    height: 100vh;
}

/* ===================================== SHAPES ===================================== */

.hero_section .main_bg .circle_shape .inner img {
    position: absolute;
    top: 160px;
    left: 10px;
    z-index: 200;
}

.hero_section .cross_shape img {
    top: 28rem;
    left: 30%;
}

.hero_section .cross_shape2 img {
    top: 4rem;
    right: 10%;
}

/* ============================================= SERVICES ============================================= */


.hosting_services {
    background-color: var(--grey-bg-color);
    padding: 4rem 0;
    margin-top: 2rem;
    position: relative;
}

.hosting_services h2 {
    color: var(--primary-color);
}

.hosting_services p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.hosting_services .hosting_img img {
    width: 65%;
    margin-left: 8rem;
}

.rotate_img {
    position: absolute;
    top: 52px;
    right: 28px;
    width: 50%;
}

.rotate_img img {
    animation: rotateImg 15s linear infinite;
}

@keyframes rotateImg {
    100% {
        transform: rotate(360deg);
    }
}

.services_blocks {
    margin-top: 1.2rem;
}

.services_blocks .cards {
    display: flex;
    padding: 0.7rem 1rem;
    align-items: center;
    box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    margin-top: 1rem;
}

.services_blocks .cards:hover {
    transform: translateY(-5px);
}

.services_blocks .cards p {
    padding: 0;
    padding-left: 0.8rem;
    font-weight: 500;
}

.services_blocks .cards div {
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    height: 1rem;
    width: 1rem;
}

.services_blocks .cards:hover div {
    background-color: transparent;
    color: var(--white-color);
}

/* ============================================= DESIGN & DEVELOPMENT ============================================= */

.designDev {
    background-color: var(--white-color);
    position: relative;
    padding: 6rem 0;
}


.design_img .bgImg1 {
    position: relative;
    width: 60%;
    margin-left: 5rem;
    z-index: 10;
}

.rotate_img_2 {
    position: absolute;
    top: 40px;
    left: 115px;
    width: 55%;
}

.rotate_img_2 img {
    animation: rotateImg 15s linear infinite;
}




/* ============================================= FEATURES ============================================= */

.features {
    background-color: var(--grey-bg-color);
}

.features .features_blocks {
    margin-top: 1.7rem;
}

.features .features_blocks .cards2 {
    margin-top: 1.2rem;
}

/* ============================================= OUR TEAM ============================================= */

.our_team {
    background-color: var(--grey-bg-color2);
}

/* ============================================= CONTACT ============================================= */

.counter_main {
    /* background: url(''); */
}

.figures {
    margin-top: 2rem;
    text-align: center;
}

.figures h2 {
    color: var(--green-color);
}

.figures p {
    color: var(--secondary-color);
}

.counter_main .counter_contact {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(230, 230, 230);
    padding: 1.8rem;
    border-radius: 5px;
    width: 54%;
    margin-left: calc(50% - 27%);
    margin-top: 4rem;
}

.counter_main .counter_contact p {
    font-size: 0.9rem;
    color: var(--secondary-color);
}

/* ============================================= RECENT WORKS ============================================= */


.recent_works {
    /* background-color: var(--grey-bg-color); */
}

/* ============================================= TESTIMONIALS ============================================= */

.testimonials {
    background-color: var(--grey-bg-color);
    padding: 6rem 0;
    position: relative;
}

.testimonials .main_bg {
    position: absolute;
    top: 0;
    z-index: 1;
}

.testimonials .main_bg .bacol {
    background: none;
}

.testimonials .main_bg .cross_shape img {
    left: 150px;
}