.cross_shape img {
    position: absolute;
    animation: cross 6s linear forwards infinite;
}

@keyframes cross {
    100% {
        transform: rotate(360deg);
    }
}

.cross_shape2 img {
    position: absolute;
    animation: cross 6s linear forwards infinite;
}

@keyframes cross {
    100% {
        transform: rotate(360deg);
    }
}