:root {
    --primary-color: #0e314c;
    --secondary-color: #4a6f8a;
    --green-color: #44ce6f;

}

header {
    /* background-color: coral; */
    background-color: transparent;
}

nav.sticky {
    background-color: white;
    box-shadow: 0 -24px 25px 10px grey;
    transition: all ease-in-out 0.3s;
    padding-bottom: 15px;
}

nav {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 7rem;
    padding-top: 15px;
    transition: all ease-in-out 0.3s;
}

nav .nav_logo h2 {
    color: red;
}

nav .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_links ul {
    margin: 0;
    padding-right: 1.5rem;
}

nav .nav_links ul li {
    display: inline-block;
}

nav .nav_links ul li a {
    color: var(--secondary-color);
    font-size: 15px;
    margin: 0 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

nav .nav_links ul li a:hover {
    color: var(--green-color);
    transition: all ease-in-out 0.3s;
}

nav .nav_links .nav_btns {
    display: flex;
    gap: 1rem;
}

.sidebar_icon svg {
    font-size: 1.8rem;
    margin-left: 2rem;
}

/* ============================================= MEDIA ============================================= */

@media (max-width:1024px) {
    nav {
        padding: 0 2rem;
        padding-top: 15px;
    }

    nav .sidebar_icon {
        display: none;
    }
}

@media (max-width:768px) {
    nav .nav_ul {
        display: none;
    }

    nav .nav_btns button {
        padding: 0 1.4rem;
        height: 2.4rem;
    }

    nav .sidebar_icon {
        display: block;
    }
}

@media (max-width:426px) {
    nav{
        width: 100%;
    }
    nav .nav_links .nav_btns {
        display: none;
    }
}